<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062085296108-c94crns9i724k4oq24kfvnesv2c4sfce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062085296108-c94crns9i724k4oq24kfvnesv2c4sfce</string>
	<key>API_KEY</key>
	<string>AIzaSyDktZpVOX9qECVTMHsvC-fjcaoaA0mjHNg</string>
	<key>GCM_SENDER_ID</key>
	<string>1062085296108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bryan2028.StudyApp</string>
	<key>PROJECT_ID</key>
	<string>studyapp-104c9</string>
	<key>STORAGE_BUCKET</key>
	<string>studyapp-104c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062085296108:ios:924375a3be46b4f2c0cac9</string>
</dict>
</plist>